# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# pip environment file
pip-log.txt

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# JetBrains IDEs (PyCharm etc.)
.idea/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# dotenv environment variables
.env
.env.*

# Local database
*.sqlite3
